html{
    background-color: rgb(230, 226, 226);
}
.contenedor{
    height: 600px;
    width: 400px;
    background-color: rgb(255, 255, 253);
    border-radius: 10px;
    text-align: center;
    margin: 80px 500px;
    box-shadow: 0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
img{
    padding-top: 50px;
}
.email{
    padding-top: 10px;
    height: 150px;
    width: 300px;
    background-color: rgb(235, 232, 232);
    border-radius: 10px;
    margin-left: 50px;
}
span{
    color: rgb(11, 11, 119);
}
#parrafo{
    color: rgb(137, 134, 134);
}
#boton{
    width: 100px;
    height: 25px;
    border: 1px solid rgb(194, 189, 189);
    background-color: white;
    border-radius: 50px;
    margin-left: 100px;
    padding-top: 3px;
}
#confirma{
    height:30px;
    width: 200px;
    border-radius: 20px;
    background-color: rgb(9, 9, 110);
    color: white;
    padding-top: 10px;
    margin-left: 100px;
}